.container {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  padding: 2rem;
}

.first {
  margin-top: 10em;
  background-color: #f9f9f988;
}

.dflex-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  padding: 0 15px;
  margin: .4em;
}

.dflex {
  display: flex;
}

label {
  font-size: 18px;
  background: linear-gradient(to right, #02020a, #d5d5d5);
  background-clip: text;
  -webkit-background-clip: text;
}

.btn {
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: #f9f9f9f9;
  background-color: #163659;
  border-radius: 10px;
  padding: 0.7em;
  width: 90%;
  margin: 1em auto;
  text-align: center;
}

.input {
  outline: none;
  width: 50%;
  height: 30px;
  font-size: 18px;
  padding: 2px 5px;
  border: none;
  border-bottom: 2px solid #0fbcf9;
  transition: all .5s;

}

.input:focus {
  border-bottom: 2px solid #163659;
  transition: all .5s;
}

.result {
  background-color: rgba(255, 255, 255, 0.637);
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}